





/********** CSS universal selectors
/****** It can be used to select any and all types of elements in an HTML page
/** reset all padding and margin **/




*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/************************ 
/************* 
/** CSS variables **/

:root {

 /* colors */
 --anti-flash-white: #f2f4f3;
 --maxi-mum-redr: #dd1c1a;
 --body_background: #dbe3de;
 --primary_color: #ede7e4;
 --yellow-munsell: #f0c808;
 --body_background: #dbe3de;
 --primary_color: #ede7e4;
 --secondary-color: #289944;
 --gray-background: #edede7;
 --sea-green: #289944;
 
 /* spacing */
 --base_padding: 0.75rem;
 --base_margin: 0.75rem;
 --base_text_padding_top: 0.75rem;
 --base_text_padding_bottom: 0.75rem;
 --base_text_margin_top: 1rem;
 --base_text_margin_bottom: 1rem;
 
 /* borders */
 --base_border-thickness: 1px;
 --base_border-radius: 20px;
 
 /* box-shadow*/
 --base_box-shadow: 1px 3px 5px rgba(0,0,0,0,1);
 
 /* font-sizes*/
 --base_font-size: 1rem;
 /* font-family */
 --ff-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 --ff_accent: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


body {
 font-family: var(--ff-primary);
 font-weight: 400;
 font-size: 1.3125rem;
 line-height: 1.6;
 scroll-behavior: smooth;
}

h2,
h4,
h5,
h6 {
 line-height: 1;
 font-weight: 900;
padding-top: 1rem;
padding-bottom: 1rem;
}

p {

}
/************************  
/************* 
/*     container     */

       #container {
       width: 90%;
       margin: 0 auto;
       }

/************************  
/************* 
/*    header    */

      header {
  
       background-image:linear-gradient(to top, rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.423)), url("https://cdni.rbth.com/rbthmedia/images/2018.02/original/5a8ecb7085600a0da014aef3.jpg");
       background-size: cover;
       background-repeat: no-repeat;

       height: 70vh;
       width: 100%;
       position: relative;
      }

      /********header-top contins logo and login and heart buttons and social icons**********/
      .header-top {
       display: flex;
       justify-content: space-between;
       align-content: center;
       align-items: center;
       color: var(--primary_color);
       padding: 0 1rem;
     }
       

         /********social icons*********/
         .fa-facebook,
         .fa-instagram,
         .fa-twitter,
         .fa-whatsapp {
            padding-right: .5rem;
             cursor: pointer;
           }
     
      /******header-logo********/
      header .header-logo h1 {
        color: var(--primary_color);
        font-size: 3rem;
      }

      header .header-logo .fa-vimeo-v {
        color: var(--secondary-color);
      }
      
      /***********header-btn************/
      .header-btn-user {
        padding-right: 2.5rem;
      }

     .header-btn-user button  {
       background-color: inherit;
       color: var(--primary_color);
       border: none;
       cursor: pointer;
       padding-left: 1rem;
       
     }

     .header-btn-user button:hover,
     .sign_up_latest_recipes span:hover {
       color: var(--secondary-color);
       transition: .9s;
     }
     
     .fa-user,
    .fa-heart {
      font-size: 1.2rem;
      
    }

      /***********mobile-menu-btn***************/
          
         
      .mobile-menu-btn {
       display: none;
        position: absolute;
        z-index: 222222;
        width: 24px;
        height: 4.5px;
        top: 1.6rem;
        right: 1rem;
        cursor: pointer;
        /* middle bar */
      }

      .mobile-menu-btn__name {
        font-size: x-small;
        position: absolute;
        top: .64rem;
      }
      .mobile-menu-btn__burger {
        position: absolute;
        width: 24px;
        height: 2.5px;
        background: #111;
        /* top bar */
        /* bottom bar */
      }
      .mobile-menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2.5px;
        top: -8px;
        background: #111;
      }
      .mobile-menu-btn__burger::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 2.5px;
        top: 8px;
        background: #111;
      }

     /* --Styling mobile menu for small screens (modal)  --*/
        #modal {
          background-color: rgb(41, 41, 42);
          padding: 1rem;
          height: 40%;
          position: fixed;
          width: 100%;
          top: 3rem;
          z-index: 111111;
         
        }

        #modal nav ul {
          padding-top: 2rem;
        }

        #modal li {
        padding-bottom: .75rem;
          list-style-type: none;
          text-align: center;
        }
        #modal a {
          color: azure;
          text-decoration: none;
        }

        /*# sourceMappingURL=modal.css.map */
        .mobile-nav__list button {
          float: right;
          padding: .1rem .6rem;
          font-size: 1.5rem;
          color: var(--primary_color);
          background-color: inherit;
          outline: none;
          border: none;
          cursor: pointer;
        }



     /*********** nav ************/
     header nav.header-nav ul {
       width: 90%;
       border-top: 1px solid var(--primary_color);
       border-bottom: 1px solid var(--primary_color);
       text-align: center;
       margin: 0 auto;
       padding-top: .75rem;
       padding-bottom: .75rem;
     }
     
    

          header nav.header-nav ul li{
          
            display: inline;
            text-align: center;
            padding-left: .7rem;
            
          }

          header nav.header-nav ul li a.header-nav_a{
            text-decoration: none;
            color: var(--primary_color);
            font-size: 1.2rem;
            font-weight: bold;
          }

        
          header nav.header-nav ul li a.active {
            
            color: var(--secondary-color);
          }

          header nav.header-nav ul li a:hover:not(.active) {
            transition: .5s ease-in-out;
            color: var(--secondary-color);
        
          }

        
              .menu-link-01 {
              display: inline-block;
              position: relative;

              }

              .dropdown-menu {
              position: absolute;
              background-color: var(--card_background);
              color: #101113;
              z-index: 1;
              display: none;
              width: 40vw;
              height: 30vh;
              top: 1.3rem;
              left: 1rem;
              padding: var(--base_padding);

              }

              .dropdown-menu-link {
                display: block;
                text-align: start;
                text-decoration: none;
              
              
              }

              .menu-link-01 > .dropdown-menu.slide-up {

              transform: translateX(-100%);
              }

              .menu-link-01:hover > .dropdown-menu.slide-up {
              display: block;
              transform: translateX(0);
              }

              .dropdown-menu:hover {

              transform: translateX(-100);
              }


              .dropdown-menu:hover {

              transform: translateX(0);
              }
              
         /*************************/
         .header-content {
          text-align: center;
          position: absolute;
          left: 50%;
          top: 60%;
          transform: translate(-50%, -50%);
          color: var(--primary_color);
          text-shadow:  0 0px 20px rgba(0, 0, 0, 1.5);
         }

              .header-content h2 {
                font-size: 4rem;
            
                
              }

              .header-content__span {
                color: var(--secondary-color);
              }
                
              .header-content__search {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
              }

            .header-content__search input[type="text"]{
              width: 30vw;
              padding: 1.3rem 1.5rem;
              padding-left: 1rem;
              font-size: 1rem;
              margin-right: 1rem;
              border: none;
              border-radius: 0.3rem;
              box-shadow:  0 0px 20px rgba(0, 0, 0, .5);
              outline: none;
            
            }

          .header-content__search button{
            cursor: pointer;
            padding: 1rem 1.5rem;
            box-shadow:  0 0px 20px rgba(0, 0, 0, 1.2);
            background-color: #19B136;
            color: #dbe3de;
            font-size: 1.5rem;
            border: none;
            border-radius: 0.3rem;
            }

/***************************/
         /* Extra small devices (phones, 600px and down) */
         
          @media only screen and (max-width: 600px) {

           header {
            height: 55vh;
         max-width: 100%;
         
       
           }

           .mobile-menu-btn {
            display: block;
           }
     
           /********header-top contins logo and login and heart buttons and social icons**********/
           .header-top {
           background-color: var(--body_background);
           position: fixed;
           width: 100%;
           z-index: 11111;
          }

          /********social icons*********/

            .header-social-icons {
              display: none;
           }
          /******header-logo********/
            header .header-logo h1 {
              font-size: 2rem;
              color: #101113;
          }
          /***********header-btn************/

          .header-btn-user button  {
           font-size: 1rem;
           color: #101113;
          }
          /*********** nav ************/
          header nav.header-nav ul {
           display: none;
          }
          
        /**********header-content***************/
        .header-content {
          text-align: start;
          position: absolute;
          width: 90%;
          color: var(--primary_color);
          text-shadow:  0 0px 20px rgba(0, 0, 0, 1.5);
          top: 70%;
        
         }

      .header-content h2 {
        font-size: 2rem;
       
       }
       
      .header-content h4 {
        font-size: .7rem;
        position: absolute;
        top: 120%;
       }

      
     
        
      .header-content__search {
       padding-top: .2rem;
      }

     .header-content__search input[type="text"]{
      width: 80vw;
      padding: 1rem ;
      padding-left: 1rem;
      font-size: 1rem;
      margin-right: 1rem;
      border: none;
      border-radius: 0.3rem;
      box-shadow:  0 0px 20px rgba(0, 0, 0, .5);
      outline: none;
    
     }

     .header-content__search button{
      cursor: pointer;
      padding: .75rem 1rem;
      box-shadow:  0 0px 20px rgba(0, 0, 0, 1.2);
      background-color: #19B136;
      color: #dbe3de;
      font-size: 1.5rem;
      border: none;
      border-radius: 0.3rem;
      }
         
          }


     
         
 
 
/*************************
/*************
/**       main-text_line     **/
/* NIEUWE RECEPTEN & BLOGS */

      .main-text {
       width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
     
       text-shadow:  0 0px 50px rgba(0, 0, 0, .5);
      }

      .main-text .line {
        position: relative;


      }

      .line::after, .line::before {
      content: " ";
      position: absolute;
      top: .8rem;
      height: 1.5px;
      width: 35%;
      background-color:var(--secondary-color);
      }

      .line::after {
      left: 0;
      }

      .line::before {
      right: 0;
      }


       /* Extra small devices (phones, 600px and down) */
         
       @media only screen and (max-width: 600px) {

        .main-text {

   
          padding-bottom: 1rem;
          padding-top: 1rem;
      
    
        }

        .main-text h2{
           font-size: 1rem;
      }

        .line::after, .line::before {
         width: 20%;
         top: .45rem;
        }
       }
/************************
          /* Create four equal columns that sits next to each other */
/*********************************
/***************************
/*  recipes-list-grid  */
    .recipes-list-grid {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 2.1%;
      color: #e9e1dd;
      margin-top: -.7rem;
      }

      /*******************************/
      .recipes-img-wrapper {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-radius: 4%;
      box-shadow:  0 0 20px rgba(0, 0, 0, 0.7);
      margin-bottom: 1.5rem;
  }
  /******heart-wrapper*******/
  .recipes-heart-wrapper {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: #101113;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      box-shadow:  0 0px 20px rgba(0, 0, 0, .5);
  }

  .recipes-heart-wrapper  .fa {
    position: absolute;
    top: 0.5rem;
    right: -0.12rem;
    color: rgb(246, 246, 246);
    border-radius: 50%;
    height: 30px;
    width: 30px;

  }
  /*********content-wrapper***********/
  .content p {
    padding-top: .9rem;
    width: 85%;
  }

  .recipes-content-wrapper__bottom{/**/
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #101113;
    padding-bottom: 1rem;
     height: 8vh;
     background-color: var(--primary_color);
    }
    .recipes-content-wrapper__bottom h4 {
      
    }
    .recipes-content-wrapper__bottom a {
      
      text-decoration: none;
    }



    .recipes-content-wrapper__bottom h4 {
    
    padding-top: .8rem;
    }
  
    .recipes-content-wrapper__info{/**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5edea;
    color: #101113;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    padding: 0rem 1rem;
    }
   

  .recipes-img-wrapper > img {
  width: 100%;
  height: 28vh;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow:  0 0 10px rgba(0, 0, 0, 2.5);

  }

  .recipes-img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.692);
    
    
  
  } 

  .recipes-img-wrapper > img,
  .recipes-img-wrapper > .content
  {
  transition: 300ms ease-in-out;
  }

  .recipes-img-wrapper:hover > img.blur {
  filter: blur(5px);
  }

  .recipes-img-wrapper:hover > img.zoom {
  transform: scale(1.2);
  }

  .recipes-img-wrapper > .content.fade {
  opacity: 0;
  }

  .recipes-img-wrapper:hover > .content.fade {
  opacity: 1;
  }

  .recipes-img-wrapper > .content.slide-left {
  transform: translateX(-101%);
  }

  .recipes-img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
  }

  @media only screen and (max-width: 600px) {

   .recipes-list-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: .1px;
    }

         /*******************************/
       .recipes-img-wrapper {
        box-shadow:  0 0 20px rgba(42, 40, 40, 0.9);
     }
     /******heart-wrapper*******/
     .recipes-heart-wrapper {
        background-color: #111112;
        height: 40px;
        width: 40px;
     }

     .recipes-heart-wrapper  .fa {
      top: 0.6rem;
      right: 0.1rem;
      font-size: 1.4rem;
     }
     /*********content-wrapper***********/
     .recipes-img-wrapper > img {
      width: 100%;
      height: 24vh;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      box-shadow:  0 0 10px rgba(0, 0, 0, 2.5);
    
      }
     .content p {
    
     }

     .recipes-content-wrapper{
       
      }


      .recipes-content-wrapper__info{
     
      }
      .recipes-content-wrapper__info i {
        max-width: 100vw;
        padding-left: 1.8rem;
      }

     .recipes-img-wrapper > img {
   
     box-shadow:  0 0 10px rgba(0, 0, 0, 1.5);

     }

     
 
    

  }


  /************************  
/************* 
/* sign up latest recipes   */

.sign_up {
  background-color: #1d1d1c;
  color: var(--primary_color);
  padding: var(--base_padding);
  margin-top: 1rem;
  margin-bottom: 1rem;
 width: 100%;
 padding-top: 2rem;
 padding-bottom: 2rem;
 }
 
         
          
          .sign_up_latest_recipes {
           display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
         padding-bottom: var(--base_padding_bottom);
          padding-top: var(--base_padding_top);
           border-top-right-radius: 6%;
          border-top-left-radius: 6%;
  
          }
          
          .sign_up_latest_recipes input[type="email"] {
            
            padding: var(--base_padding);
            width: 20vw;
            border-radius: var(--base_border-radius);
            outline: none;
          }
          
          .sign_up_latest_recipes input[placeholder="email address"] {
            background-color: var(--gray-background);
          }

          .sign_up_latest_recipes button{
            font-size: 1rem;
            cursor: pointer;
            background-color: inherit;
            border: none;
            color: var(--primary_color);
            padding-left: 1rem;
          }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

 
    .sign_up {
      background-color: #1d1d1c;
      color: var(--primary_color);
      padding: var(--base_padding);
      margin-top: .1rem;
      margin-bottom: .1rem;
      width: 100%;
     
     }

     .sign_up_latest_recipes__info {
        display: flex;
        justify-content: center;
        padding-top: var(--base_text_padding_top);
        padding-bottom: var(--base_text_padding_bottom);
     }

    .sign_up_latest_recipes {
      display: flex;
      flex-direction: column;
     
  
    }
    .sign_up h3 {
      font-size: .8rem;
   
      padding-top: var(--base_padding_top);
      padding-bottom: var(--base_padding_bottom);
      
    }

    .sign_up_latest_recipes input[type="email"] {
            
     
      width: 60vw;
      border-radius: var(--base_border-radius);
      outline: none;
    }

  }

          
 /************************
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }
      .auto-fit {
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 /********************
 /**      recipe-content-grid        */
      .recipe-content-grid-top,
      .recipe-content-grid-bottom {
        display: grid;
        grid-template-columns: auto 60%;
        background-color: var(--primary_color);
       margin-top: 2rem;
       box-shadow:  0 0 20px rgba(42, 40, 40, 0.9);
      }

      .recipe-content__img-wrapper {
        max-width: 100%;
      }
      .recipe-content__img-wrapper img{
       max-width: 100%;
      }

      .recipe-content__img-wrapper,
      .recipe-info {
        padding: 2.5rem;
      }
      
      .recipe-info {
        width: 100%;
      }

      .recipe-content__img-wrapper:hover {
        transform: scale(1.1);
        transition: ease-in-out .5s;
      }
     

      .recipe-table {
        max-width: 100%;
        margin-top: 2rem;
        padding: 1rem;
         padding-top: 1rem;
         background-color: #e7d9d2;
         box-shadow:  0 0 20px rgba(42, 40, 40, 0.2);
       }

      .recipe-table th {
        text-align: start;
      }

        /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .recipe-content-grid-top,
  .recipe-content-grid-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    background-color: var(--primary_color);
   margin-top: 2rem;
   box-shadow:  0 0 20px rgba(42, 40, 40, 0.9);
  }

  .recipe-content__img-wrapper {
    width: 100vw;
  }
  .recipe-content__img-wrapper img{
   width: 100vw;
   height: 40vh;
  }

  .recipe-content__img-wrapper {
    padding: .0rem;
  }
  
  .recipe-info {
    padding: .0rem;
    max-width: 100vw;
  }

  .recipe-info h2{
   padding-left: 0.5rem;
  }

  .recipe-info p{
    padding-left: 1.2rem;
   }

  .recipe-content__img-wrapper:hover {
    transform: none;
    transition: none;
  }
  table.recipe-table {
  max-width: 100vw;
   margin: 1rem;
   padding: 1rem;
    padding-top: 1rem;
    background-color: #e7d9d2;
  }

  .recipe-table th {
    text-align: start;
  }
}


/***************************************
/**********************************

  
   .recipes-img-wrapper > .content.slide-left {
  transform: translateX(-101%);
  }

  .recipes-img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
  }
   /***********************
   /*******************
   /*  
   /*********************************
/***************************
/***************************************
/**********************************
/*         section-slider              */
#section-slider {
  margin-top: 2rem;
    display: grid;
/*background-color: blue;*/
   grid-auto-columns: 100%;
   grid-auto-flow: column;
  height: 65vh;
  position: relative;
   }
   
 
   
   #slider {
    display: flex;
    height: auto;
    overflow-x: auto;
  
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
  
  
   }
   
   .img-slider {
  position: relative;
    margin: .2rem;
    flex: none;
   
   }

  .content-slider {
    padding: 1rem;
  }
  
  
   /***********************/
   
   .img-slider > img {
    display: block;
    width: 30vw;
    height: 30%;
   cursor: pointer;
 
   object-fit: cover;
   object-position: center;
   padding-left: 1rem;
   position: relative;
  
   }
  
   .img-slider > .content-slider {
    position: absolute;
    padding: 2rem;
    background-color: #19B136;
    max-width: 30vw;  
    padding-left: 1rem;
    left: 1rem;
   }
   
   
   .slider-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   } 
  
  .slider-btn button {
    
    border: none;
    background-color: rgb(98, 92, 92);
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    outline: none;
    transition: all ease-in-out 0.5s;
   opacity: .6;
   border-radius: 50%;
   }
   
   #prev {
 
    left: 0px;
   }
   
   #next {
    right: 0px;
 
   }
   
   .slider-btn:hover button {
    opacity: 1;
   }
   
   .slider-btn button:hover {
    background-color: var(--secondary-color);
   }
   
  /** custon scrollbar **/
  
  #slider::-webkit-scrollbar {
  opacity: 0;
  
   }
  
  
  


  /*****************************************
  /**********************************
  /*                                       */


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #slider {
    display: flex;
    height: auto;
    overflow-x: auto;
  
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
  
  
   }
   
   .img-slider {
  position: relative;
    margin: .2rem;
    flex: none;
   
   }

  .content-slider {
    padding: 1rem;
    width: 100%;
  }
  
  
   /***********************/
   
   .img-slider > img {
    display: block;
    width: 100vw;
    height: 30%;
   cursor: pointer;
 
   object-fit: cover;
   object-position: center;
   
   position: relative;
  
   }
  
   .img-slider > .content-slider {
    position: absolute;
    max-width: 100vw;
   }

   .slider-btn {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
   } 
   
   .slider-btn button {
    border: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    outline: none;
    transition: all ease-in-out 0.5s;
   opacity: .6;
   border-radius: 50%;
   }
   
   #prev {
 
    left: 0px;
   }
   
   #next {
    right: 0px;
 
   }
   
   #slider-container:hover button {
    opacity: 1;
   }
   
   #slider-container button:hover {
    background-color: var(--secondary-color);
   }
   
}



 /***********************
 /*******************
 /*                    */
/*------------ main_page_8------------------------------*/
#main_page_8 {
  position: relative;
  margin-top: 2rem;
  
   }
  
   main_page_8_image {
     box-shadow:inset  0 0px 20px rgba(0, 0, 0, 2.7);
   }
   .main_page_8_image img {
     width: 100%;
     height: 60vh;
     object-fit: cover;
     object-position: center;
     
   }
   
   .main_page_8_content{
     
     position: absolute;
     top: 30%;
 width: calc(100% - 0%);
 
  
   text-align: center;
   color: #fff;
   }
   
   .main_page_8_content h2{
   font-size: 3.5em;
   }
   
   .main_page_8_content h4 {
     padding-bottom: .5em;
    
   }
   
   .main_page_8_content button {
   background-color: var(--logo-color);
   padding: 1em;
   cursor: pointer;
   width: 15em;
   border-radius: 2em;
   font-size: 1em;
   font-weight: bold;
   outline: none;
   border: none;
   }
   
   .main_page_8_content button:hover,
   .main_page_8_content button:focus {
     background-color: #fff;
   }
   /*--------------------footer-------------------------*/
   footer
   {
  display: flex;
  justify-content: space-around;
 align-content: center;
    align-items: center;
   padding: 1em;
   width: 100%;
   background-color: #1d1d1c;
   
   }
   /*------------------*/

   .footer_site_map {
   
   }
   
   .footer_site_map ul li {
    list-style-type: none;
   }
   .footer_site_map__link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary_color);
   }
 /*------------------*/
          .footer-contact_me {
            
            color: var(--primary_color);
            background-color: rgb(85, 81, 81);
            width: 50vw;
            padding: 1rem;
            
          }

          .footer-contact_me_info {
            display: flex;
            justify-content: space-between;
          }

          .footer-contact_me h2 {
            border-bottom: 1.5px solid var(--primary_color);
          }
          .footer-contact_me h2,
          .footer-contact_me h5,
          .footer-contact_me h5 {
            color: var(--secondary-color);
          }

          .footer-contact_me_paragraph {
            width: 40%;
            padding-left: 1rem;
            padding-top: 1rem;
          }
            
          .footer-contact_me_form {
            width: 50%;
            
           
          }
          
          .footer-contact_me_form form {
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
          }

          .field_email input[type="email"],
          .btn_contact_me button {
            height: 6vh;
           }

          .field_Massge input[type="text"] {
           height: 20vh;
          }
          
          .btn_contact_me button {
            margin-top: 1rem;
            background-color: var(--secondary-color);
           }
          
          .field_email input[type="email"],
           .field_Massge input[type="text"],
           .btn_contact_me button {
           border-radius: 5px;
           outline: none;
           border: none;
            width: 100%;
            padding-left: 1rem;
          }

         
           
          
          /*-------------------------*/
          

          .footer-social_media a {
            display: block;
            padding-top: 1rem;
            text-decoration: none;
            color: var(--primary_color);
          }
        /*-----------------*/
 
        .copy_right {
          position: relative;
          padding: .1rem;
          color: #111;
          text-align: center;
          background-color: var(--secondary-color);
        }
        /*----------------*/

        .back-to-top-btn {
          position: fixed;
          left: 50%;
          bottom: 2rem;
          transform: translate(-50%);
          opacity: .9;
        }
 
          .back-to-top-btn a{
            background-color: #5e6065;
            color: #dbe3de;
            cursor: pointer;
        
            border-radius: 50%;
            border: none;
            font-size: 1.2rem;
            text-decoration: none;
            
          }
        
          .back-to-top-btn .fa-arrow-up {
            width: 2rem;
          }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  footer
   {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 align-content: center;
    align-items: center;
    padding: 0rem;
   }

   .footer-contact_me {
            
   
    width: 100%;
    padding: .1rem;
    
  }

   .footer-contact_me_info {
    flex-direction: column;
   }

   .footer-contact_me_paragraph,
   .footer-contact_me_form{
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
  }

    .footer_site_map {
     display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}